<div class="links">
    {{#link-to "director.castings" class="menu-director"}}
    Casting
    {{/link-to}}
</div>
<div class="links">
    {{#link-to "director.sugerencias" class="menu-director"}}
    Sugerencias
    {{/link-to}}
</div>

{{outlet}}
