<div class="jumbotron">
  <h1 class="display-4">Arma tu propio cortometraje</h1>
  <p class="lead">Hace esto como un profesional sin  gastar tanto dinero</p>
  <hr class="my-4">
  <p>Se tu propio jefe, que más esperas?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Empezar mi cortometraje</a>
  </p>
</div>