<div class="jumbotron">
  <h1 class="display-4">Arma tu propio cortometraje</h1>
  <p class="lead">Hace esto como un profesional sin  gastar tanto dinero</p>
  <hr class="my-4">
  <p>Se tu propio jefe, que más esperas?</p>
  <p class="lead">
        {{#link-to "director.empezar" class="btn btn-primary btn-lg"}}
            Empezar mi cortometraje
        {{/link-to}}        
  </p>
</div>