<div class="jumbotron">
  <h1 class="display-4">Actua como un profesional</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Ahora podes actuar como un profesional mientras estudias, mejor imposible, no?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Postularme</a>
  </p>
</div>