<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>NetMoobie</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "director" class="menu-director"}}
        Director
      {{/link-to}}
    </div>
    <div class="links">
      {{#link-to "actor" class="menu-actor"}}
        Actor
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
